h1 
	{
	font-family: 'Indie Flower', cursive;
	font-size:50px;
	position: relative;
	padding: 1% 10% 1% 10%;
	}


body 
	{
background: #003973 
background: -webkit-linear-gradient(to left, #003973 , #E5E5BE); 
background: linear-gradient(to left, #003973 , #E5E5BE);     

	}



a
{
	font-family: 'Indie Flower', cursive;
	font-size:50px;
	color: black;
	position: absolute;
	padding: 20% 50% 10% 20%;
}

div
	{
	font-family: 'Indie Flower', cursive;
	font-size:50px;
	color: black;
	position: absolute;
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

	}

