#background
	{height:100vh;
	 background-image: url("Background.gif");
	 background-size: cover;
	 opacity: 0.8;
	}

p 
	{font-family: 'Indie Flower', cursive;
	 text-align: center;
	 position: relative;
	 top: 25%;
	 font-weight: bolder;
	 font-size: 3em;
	 color:black;
	}

li 
	{display: inline-block;
	 padding:1em;
	 font-size: 1.5em;
	}

#nav
	{position: relative;
	 top: 25%;
	 text-align: center;
	}

<<<<<<< HEAD
p	 {
	font-family: 'Poiret One', cursive;
	text-align: left;	
}	
=======
h1
	{font-family: 'Indie Flower', cursive;
	text-align: right;
	}	
>>>>>>> master
